@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

header .logo img {
    max-width: 150px;
    
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 10px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a {
    color: #de0611;
}




.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.content-nosotros {
    min-width: 350px;
    padding-top: 15vh;
    display: flex;
    place-content: space-between;
    flex-flow: column;
    position: relative;
}



.content {
    min-width: 260px;
    padding: 25px;
    position:relative;
    text-align: center;
}


.content p {
    text-align:left;
}
.movieTitle {
    width: 260px;
}

.banner .content h4 {
    color: rgba(255,255,255,0.5);
    font-weight: 500;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255,255,255,0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
}

.banner .content .buttons {
    position: relative;
}

.banner .content .buttons a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #de0611;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.banner .content .buttons a:nth-child(2) {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
}

.banner .content .buttons a:hover:nth-child(2) {
    background: #de0611;
}




@media (max-width: 991px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .banner {
        padding: 100px 50px;
    }

    .banner .play {
        left: 50px;
        font-size: 1em;
    }

    .play img {
        margin-right: 10px;
        max-width: 40px;
    }

    .trailer video {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px;
    }


    .banner {
        padding: 220px 20px 100px;
    }

    .banner .play {
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
}

/* galeria */

.container-img {
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}

.container-img img {
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
    transition: 1s;
    border-radius: 50%;
}

.container-img img:hover {
    transform: scale(1.0);
    border-radius: 10%;
}

.ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    /* recuerda cambiar display a none cuando termines la funcion de js */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.ful-img img {
    width: 90%;
    max-width: 600px;
}

.ful-img span {
    padding-top: 600px;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.ful-img span:hover {
    color: #de0611;
}